<div class="footer-section">
	 <div class="container">
		<div class="footer">
		 <div class="row">
		 	<div class="col-md-3 newletter">
				<h3>NEWSLETTER</h3>
				<p>Sign up for latest news, tips and learnings from ConversionLab.</p>
				<a href="#">Signup for newsletter</a>
		 	</div>
			<div class="col-md-3 social">
			   <h3>FOLLOW US</h3>
			   <ul class="social-icon">
				   <li><a href="https://facebook.com/{{site.facebook_username}}"><img src="{{site.baseurl}}/image/facebook.png"/>
				   </a></li>
				   <li><a href="https://twitter.com/{{site.twitter_username}}"><img src="{{site.baseurl}}/image/twitter.png"/></a></li>
				   <li><a href="https://google-plus.com/{{site.google-plus_username}}"><img src="{{site.baseurl}}/image/google-plus.png"/></a></li>
			   </ul>
			 </div>
			 <div class="col-md-6 social">
			   <h3>Products</h3>
			   <ul class="products">
			    {% for post in site.posts %}

         <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
         </li>
				 
	  {% endfor %}  
			   </ul>
			 </div>
			
			
		</div>
		 </div>
	  </div>
	</div>