---
layout: default
---

<div class="container">
<section id="contact">
	<div class="sectionheader">	<h1>QUESTIONNAIRE FOR WEBSITE DESIGN</h1></div>
	<article>
	<p>Please explain in detailed about your business. This will help us to create the necessary content for you</p>
		
		  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='http://google.com';}"></iframe>
	
<form action="https://docs.google.com/forms/d/e/1FAIpQLSelKv3S0d0a5ucz_Lu8bpnqJT4bUiF1p62NENtXJmoXvweZvg/formResponse" class="contactform" method="POST" id="mG61Hd" target="hidden_iframe"  onsubmit="submitted=true;">
                
                
                <p class="input_wrapper"><input type="text" name="entry.1265211304" value=""  id ="contact_email" placeholder="Enter your email"><label for="contact_email">EMAIL</label></p>
				
				
				<p class="input_wrapper"><input type="text" name="entry.155316464" value=""  id ="contact_sujet" placeholder="Enter your number"><label for="contact_sujet" >CONTACT NUMBER</label></p>
				
				<p class="input_wrapper"><input type="text" name="entry.683191372" value=""  id ="contact_address" placeholder="Enter your address"><label for="contact_sujet" >ADDRESS</label></p>

				<p class="input_wrapper"><input type="text" name="entry.683191372" value=""  id ="contact_address" placeholder="Business Name"><label for="contact_sujet" >BUSINESS NAME</label></p>

			    <p class="textarea_wrapper"><label for="contact_sujet">ABOUT BUSINESS </label><textarea name="entry.900878378" id="contact_message" placeholder="Information about your business"></textarea></p>
				
                <p>If you have any additional contents please send it to tony@hatkit.com. You can send imaages or text in word format</p>

				<p class="submit_wrapper"><input type="submit" value="SUBMIT"></p>			
			</form>
			
			
	</article>
</section>
	</div>
	<script type="text/javascript">var submitted=false;</script>

   <script type="text/javascript">
	

   </script>
