<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{page.title}}{% else %}{{page.title}}{% endif %}</title>
<link rel="shortcut icon" type="image/png" href="http://hatkit.com/image/blog/favicon.png"/>
{% seo %}
<meta name="description" content="">
<link href="{{site.baseurl}}/css/style.css" rel="stylesheet" type="text/css">
<link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{site.baseurl}}/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script type="text/javascript" src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jQuery.scrollSpeed.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/custom.js"></script>

</head>
<body>


	<!--headerends-->

	<!--bannersends-->

	{{content}}
	
{% include footer.html %}
<script>
$(function() {  

    jQuery.scrollSpeed(100, 800);

});
</script>
<script type="text/javascript">
    $("#faqs dd").hide();
    $("#faqs dt").click(function () {
        $(this).next("#faqs dd").slideToggle(500);
        $(this).toggleClass("expanded");
    });
</script>
 {% include analytics.html %}
 <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/59ca1ac54854b82732ff2243/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<script src="https://gumroad.com/js/gumroad.js"></script>
</body>
</html>
