---
layout: default
---
<div class="container">
<dl id="faqs">
 <h3 style="font-size:40px;color:#8e8d8c;    padding: 10px 27px;">Frequently Asked Question</h3>
  <dt>Question 1</dt>
  <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit orem ipsum dolor sit amet, consectetuer adipiscing elit</dd>
 
  <dt>Question 2</dt>
  <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit orem ipsum dolor sit amet, consectetuer adipiscing elit</dd>
 
  <dt>Question 3</dt>
  <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit orem ipsum dolor sit amet, consectetuer adipiscing elit</dd>
</dl>

</div>
