---
layout: default
---
<div class="container">
<dl id="faqs">
 <h3 style="font-size:40px;color:#8e8d8c;padding: 10px 27px;">Frequently Asked Question</h3>
  {% for faq in site.data.faq-section %}
	  <dt>{{faq.question-one}}</dt>
	  <dd>{{faq.answer-one}}</dd>
	 
	  <dt>{{faq.question-two}}</dt>
	  <dd>{{faq.answer-two}}</dd>
	 
	  <dt>{{faq.question-three}}</dt>
	  <dd>{{faq.answer-three}}</dd>

	  <dt>{{faq.question-four}}</dt>
	  <dd>{{faq.answer-four}}</dd>

	   <dt>{{faq.question-five}}</dt>
	   <dd>{{faq.answer-five}}</dd>

	   <dt>{{faq.question-six}}</dt>
	   <dd>{{faq.answer-six}}</dd>

	   <dt>{{faq.question-seven}}</dt>
	   <dd>{{faq.answer-seven}}</dd>

  {% endfor %}
</dl>

</div>
