---
layout: default
---
<div class="container">
<div class="headersec text-center">
	 <h3>Our Pricing Tables</h3>
	 <p>Get your mobile optimized professional website</p>
	 </div>
	 <div class="pricing">
	 	<div class="row">
	 		<div class="col-md-6 col-sm-12">
	 			<div class="pricebox text-center" style="width:60%;float:right">
	 				<h3 class="title" style="color:#03a9f4;font-size: 18px">Basic - Package</h3>
	 				<span class="price">FREE</span>
	 				<span class="dollar"></span>
	 				<span class="slash">/</span>
	 				<span class="month">Lifetime</span>
					<ul>
						<li>1 Web Site</li>
						<li>Cloud Hosting</li>
						<li>5 HTML Pages</li>
						<li>5GB Disk Space</li>
						<li>50GB Bandwidth</li>
						<li>Google Analytics</li>
						<li>1 Free subdomain</li>
						<li>Mobile Optimized</li>
					</ul>
					<a href="#" class="btn btn-primary btn-lg">Select Plan</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
			<div class="pricebox text-white text-center" style="background:#03A9F4;color:#fff;width:60%">
	 				<h4 class="title" style="color:#fff">Premium Package</h4>
	 				<span class="price">7.95</span>
	 				<span class="dollar">$</span>
	 				<span class="slash">/</span>
	 				<span class="month">month</span>
					<ul>
						<li>1 Web Site</li>
						<li>Cloud Hosting</li>
						<li>Unlimited HTML Pages</li>
						<li>50GB Disk Space</li>
						<li>50GB Bandwidth</li>
						<li>Google Analytics</li>
						<li>1 Free Domain</li>
						<li>Mobile Optimized</li>
					</ul>
					<div class="gumroad-product-embed" data-gumroad-product-id="SagVF" data-outbound-embed="true">
					<a href="#" class="btn btn-success btn-lg">Select Package</a></div>
				</div>
			</div>
			
	
		 </div>
	 </div>
</div>